# Secrets
backend/.env
backend/credentials.json
backend/token.json
backend/.venv
backend/tokens/
# Python venv
.venv/

# Cache
__pycache__/
*.pyc

# Logs
node_modules/backend/tokens/

frontend/.env.local