.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left {
    display: flex;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: 550;
    margin-left: 10px;
    color: #000;
}

.right button {
    margin-left: 15px;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #000;
    background: white;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #000;
    color: white;
}

.btnPrimary {
    padding: 8px 16px;
    border: none;
    background: #ffc64bff;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btnPrimary:hover {
    background: rgb(247, 176, 22);
}